
.form-wrapper__button {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  max-width: 100px;
  margin-inline: auto;
}

.form-wrapper__remember-forgot {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  align-self: center;
  width: 100%;
}

.form-wrapper__register-link-box {
  padding-bottom: 1px;
}

.form-wrapper__separators {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  border: 1px solid var(--color-secondary);
  border-radius: 50px; 
  text-align: center;
  max-width: 700px;
  margin-inline: auto;
}

.form {
  display: flex;
  flex-flow: column wrap;
}

.input-box {
  margin: 1.4em 0;
  position: relative;
}

.form-wrapper__input-box--password {
  margin-bottom: 5px;
}

.input--email {
  background-image: url("/src/assets/email2.png");
}

.input--password {
  background-image: url("/src/assets/padlock.png");
}

.separator {
  width: 45%;
  border: 1px solid gray;
  display: inline-block;
  margin-bottom: 3px;
  height: 0;
}

.inputRed {
  background-color: rgb(238, 179, 179);
  border-color: rgb(247, 6, 6);
}

.input--error {
  color: red;
  margin: 0;
}

.input--show,
.input--hide {
  position: absolute;
  right: 14%;
  top: 20%;
  width: 32px; /* Adjust size as needed */
  height: 32px; /* Adjust size as needed */
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 2;
}

.input--show {
  background-image: url("/src/assets/view.png"); /* Path to your show icon */
}

.input--hide {
  background-image: url("/src/assets/hide.png"); /* Path to your hide icon */
}

.hide {
  display: none;
}